<ion-content class="ion-padding">
  <img class="img-header" src="assets/logo.png" alt="">
  <fieldset>
    <i class="ti ti-search"></i>
    <input class="input-md" type="text" placeholder="Busque por amigos!" formControlName="firstName">
  </fieldset>

  <div class="friends-list">
    <div class="card-friend">
      <div class="friend-avatar" style="background-image: url('assets/valdirene.jpg');">

      </div>

      <div class="friend-info">
        <h3>&#64;valdireneee</h3>
        <p>Valdirene</p>
      </div>
    </div>

    <div class="card-friend">
      <div class="friend-avatar" style="background-image: url('assets/vardi.jpg');">

      </div>

      <div class="friend-info">
        <h3>&#64;valdiramaral__</h3>
        <p>Valdir Amaral</p>
      </div>
    </div>
  </div>

  <h2>Seus amigos</h2>
  <div class="friends-list">
    <div class="card-friend">
      <div class="friend-avatar" style="background-image: url('assets/pedro.jpg');">

      </div>

      <div class="friend-info">
        <h3>&#64;pedrinho_123</h3>
        <p>Pedro da Costa</p>
      </div>
    </div>

    <div class="card-friend">
      <div class="friend-avatar" style="background-image: url('assets/julye.jpg');">

      </div>

      <div class="friend-info">
        <h3>&#64;july.s2</h3>
        <p>Julye s2</p>
      </div>
    </div>
  </div>
</ion-content>
